/* header styles */
#header-menu-category-image {
    height: 400px;
    width: 100%;
    background-image: url('../../Images/sides/bobolo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
}

#header-menu-category-image-shadow {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 50%;
}

@media screen and (max-width: 768px) {
    #header-menu-category-image {
        height: 300px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
    }
}

@media screen and (max-width: 480px) {
    #header-menu-category-image {
        height: 200px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
    }
}